nav {
    width: 100%;
    min-height: 10vh;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem;
    z-index: 10;
  }
  .logo {
    animation: opening 900ms ease-in;
  }
  
  p a {
    width: 0.75rem;
    height: 0.75rem;
    color: var(--grey);
    border-radius: 50%;
    padding: 0.85rem 1rem;
    text-decoration: none;
    border: 2px solid var(--orange);
    font-size: 2rem;
    font-weight: 700;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .nav-links li {
    font-size: 1.35rem;
    animation: opening2 900ms ease-in;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--grey);
  }
  
  .nav-links li a:hover {
    /* color: hsl(0, 0%, 85%); */
    color: var(--black);
  }
  
  .resume {
    padding: 0.5rem 1rem;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: 1.2rem;
    font-weight: 600;
  }
  
  .resume > img {
    width: 1.5rem;
    filter: invert(1);
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14vh;
  }